{% extends "Dashboard/dashboard.html" %}

{% block add_product %}
<h1>Add Product</h1>

<!-- {{A_product.as_p}} -->

<table class="table table-borderless">
    <tr>
        <th>Product Name</th>
        <td>{{A_product.product_name}}</td>
    </tr>
    <tr>
        <th>Category</th>
        <td>{{A_product.product_category}}</td>
    </tr>
    <tr>
        <th>Product Description</th>
        <td>{{A_product.product_description}}</td>
    </tr>
    <tr>
        <th>Product Price</th>
        <td>{{A_product.product_price}}</td>
    </tr>
    <tr>
        <th>Stock</th>
        <td>{{A_product.product_stock}}</td>
    </tr>
    <tr>
        <th>Product Image</th>
        <td>{{A_product.product_image}}</td>
    </tr>
    <tr>
        <th>Sub-Category</th>
        <td>{{A_product.pro_sub_category}}</td>
    </tr>
</table>

<button type="submit" name="submit_A_product" class="btn btn-success">Save</button>

{% endblock %}