# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
.sqlite3

# Django migrations
**/migrations/

# Media and static files


# Local environment settings


# Virtual environments
venv/
env/
.venv/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db
